<script>
    document.addEventListener('DOMContentLoaded', () => {
        loadPosts('dotnet');
        loadPosts('visualstudio');
        loadPosts('visualstudiomagazine');

        //loadPosts('microservices');
        //loadPosts('developertoarchitect');

        loadPosts('ardalis');
        loadPosts('hanselman');
        loadPosts('andrewlock');
        loadPosts('davecallan');
        loadPosts('stephencleary');
        loadPosts('jonskeet');
        loadPosts('jimmybogard');
        loadPosts('devlead');
        loadPosts('steven-giesel');
        loadPosts('adamsitnik');
        loadPosts('minidump');
        loadPosts('mattwarren');
        loadPosts('haacked');
        loadPosts('erikej');
        loadPosts('enterprisecraftsmanship');

        loadPosts('antirez');
        loadPosts('simonwillison');
        loadPosts('nickcraver');
        loadPosts('codinghorror');
        loadPosts('joelonsoftware');
        loadPosts('neilonsoftware');
        loadPosts('brendangregg');
        //loadPosts('tidyfirst'); // cloudflare blocks curl
        loadPosts('paulhammant');
        loadPosts('sizovs');
        loadPosts('bartwullems');
        loadPosts('pragmaticengineer');
        loadPosts('vadimkravcenko');
        loadPosts('thecodist');

        loadPosts('terriblesoftware');
        loadPosts('lethain');
        loadPosts('effectiveengineer');
    });
</script>
