name: Deploy GitHub Pages

on:
  push:
    branches:
      - master
      - dev-news
  workflow_dispatch:
    inputs:
      dev_news_branch:
        description: 'dev-news branch'
        required: false
        default: 'dev-news'
        type: string
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0

      - name: Fetch dev-news branch
        run: |
          git fetch origin ${{ inputs.dev_news_branch || 'dev-news' }}
          git checkout origin/${{ inputs.dev_news_branch || 'dev-news' }} -- .
          git reset # unstage all files
          cp README.md news/README.md # move dev-news README.md to news/
          git restore README.md # restore original README.md
          #sed -i -r 's;https://raw.githubusercontent.com/jurakovic/dev-links/refs/heads/master;\.\.;g' news/README.md
          sed -i -r 's;https://github.com/jurakovic/dev-links/blob/master;\.\.;g' news/README.md

      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./_site

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
